body {
  text-align: center;
  font-family: Helvetica;
}
.menu {
  background-image: url("./../images/the-flatiron-building.png");
}
.second {
  background-image: url("./../images/the-flatiron-building.png");
}
a {
  color: white;
  font-size: 18px;
}
.menu h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}
.second h1 {
  font-size: 23px;
  font-weight: bold;
  color: white;
}
h2 {
  font-size: 32px;
  font-weight: bold;
}
.text p {
  font-size: 14px;
}
.footer p {
  background-color: dimgrey;
  font-size: 11px;
  color: white;
  text-align: left;
}
